.Banneroption {
    margin-bottom: 50px;
}

    .Banneroption .BanneroptionHeader {
        padding-bottom: 5px;
    }

    .Banneroption .BanneroptionBody .subBody {
        margin: 20px;
        color: darkgrey;
    }

        .Banneroption .BanneroptionBody .subBody button {
            height: 45px;
            width: 15%;
            max-width: 80px;
            color: #e1ab82;
            background: black;
            border: 0;
            border-radius: 3px;
        }
        .Banneroption .BanneroptionBody .subBody input {
            height: 40px;
            width: 80%;
            border-radius: 3px;
            padding: 15px;
            box-shadow: #ccc 1px 1px 1px 3px;
            border: #ccc;
            margin-bottom: 15px;
        }

            .Banneroption .BanneroptionBody .subBody input::-webkit-input-placeholder {
                color: #ccc;
            }

            .Banneroption .BanneroptionBody .subBody input::-moz-placeholder {
                color: #ccc;
            }

            .Banneroption .BanneroptionBody .subBody input:-ms-input-placeholder {
                color: #ccc;
            }

            .Banneroption .BanneroptionBody .subBody input:-moz-placeholder {
                color: #ccc;
            }

        .Banneroption .BanneroptionBody .subBody .light {
            color: black;
        }