@{
    ViewData["Title"] = "Sseko Fellows";
}

@*<div id="react-app" asp-prerender-module="ClientApp/dist/main-server">Loading...</div>*@
<div id="react-app">Loading...</div>
@section scripts {
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/metismenu@2.7.0/dist/metisMenu.min.css">
    <script src="//cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/metismenu@2.7.0/dist/metisMenu.min.js"></script>
    <script>const $ = jQuery;</script>
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
