#pv-totals {
    margin: 25px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: var(--font-gray);
}

    #pv-totals .total-container {
        position: relative;
        min-width: 275px;
        padding: 15px;
        /*border: 1px solid var(--nav-gray);*/
    }

        #pv-totals .total-container img {
            max-width: 70px;
        }

        #pv-totals .total-container .total-label {
            font-size: 10px;
            position: absolute;
            left: 94px;
            top: 20px;
            white-space: nowrap;
        }

        #pv-totals .total-container .total-money {
            font-size: 24px;
            font-weight: 900;
            position: absolute;
            top: 10px;
            color: #fca869;
        }

#pv-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
