.grid-sibling-row {
    margin-bottom: 20px;
}

.grid-label {
    width: calc(100% - 34px);
    margin: auto;
    padding: 10px 0 10px 15px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    background: var(--dark-gray);
    color: var(--light-orange);
}

.grid-container {
    margin: auto !important;
}

.react-grid-Container {
    position: relative !important;
}

.react-grid-Main {
    outline: none !important;
    margin-right: 17px !important;
}

.react-grid-Grid {
    border: none !important;
    left: 17px !important;
}

$grid-header-color: #2A2D32;

.react-grid-Header {
    background: $grid-header-color !important;
    margin-right: 34px !important;
}

.react-grid-HeaderRow {
    overflow-x: auto !important;
}

.react-grid-HeaderCell {
    display: inline-flex !important;
    padding: 0 8px !important;
    border: none !important;
    background-color: darken($grid-header-color, 10%) !important;
    background-image: linear-gradient(to bottom, transparentize(lighten($grid-header-color, 15%), .2), transparentize(lighten($grid-header-color, 25%), .8)) !important;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .2) !important;
    color: white !important;
    font-size: 14px !important;
    font-weight: 100 !important;
    text-shadow: 0 -1px 1px transparentize($grid-header-color, .3) !important;
    transition: background-color .2s ease-in-out, text-shadow .2s ease-in-out, transform .1s ease-in-out !important;
}

.react-grid-HeaderCell:hover {
    min-width: min-content !important;
    z-index: 1 !important;
    background-color: $grid-header-color !important;
    $glow: 0 0 5px rgba(255, 255, 255, .8) !important;
    text-shadow: 0 -1px 1px transparentize($grid-header-color, .3), $glow !important;
}

.react-grid-HeaderCell-sortable {
    overflow: hidden !important;
    /*text-overflow: ellipsis !important;*/
    margin: auto 0 !important;
}

.react-grid-HeaderCell__draggable {
    width: 16px !important;
}

.react-grid-HeaderCell__draggable::after {
    background: var(--btn-gray);
    /* center over parent */
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    left: 7px;
}

.react-grid-Canvas {
    overflow-y: auto !important;
}

.react-grid-Row--odd .react-grid-Cell {
    background: var(--nav-gray) !important;
}

.react-grid-Cell {
    border: none !important;
    --row-outline: 1px solid var(--nav-border-gray) !important;
    border-bottom: var(--row-outline) !important;
}

.react-grid-Cell:first-child {
    border-left: var(--row-outline) !important;
}

.react-grid-Cell:last-child {
    border-right: var(--row-outline) !important;
}
