@font-face {
    font-family: 'HomepageBaukasten-Bold';
    src: url('../fonts/HomepageBaukasten-Bold/HomepageBaukasten-Bold.eot');
    src: url('../fonts/HomepageBaukasten-Bold/HomepageBaukasten-Bold.woff2') format('woff2'), url('../fonts/HomepageBaukasten-Bold/HomepageBaukasten-Bold.woff') format('woff'), url('../fonts/HomepageBaukasten-Bold/HomepageBaukasten-Bold.ttf') format('truetype'), url('../fonts/HomepageBaukasten-Bold/HomepageBaukasten-Bold.svg#HomepageBaukasten-Bold') format('svg'), url('../fonts/HomepageBaukasten-Bold/HomepageBaukasten-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NTR-Regular';
    src: url('../fonts/NTR/NTR-Regular.eot');
    src: url('../fonts/NTR/NTR-Regular.woff2') format('woff2'), url('../fonts/NTR/NTR-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NTR';
    src: url('../fonts/NTR/NTR.woff') format('woff'), url('../fonts/NTR/NTR.ttf') format('truetype'), url('../fonts/NTR/NTR.svg#NTR') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
    /* Inspinia Colors */
    --primary-light: #1fd5b0;
    --primary: #1ab394;
    --primary-shade: #159178;
    --gray: #f3f3f4;
    /*--dark-gray: #676a6c;*/
    /* */

    /* Mockup Colors */
    --nav-gray: #F5F5F5;
    --nav-border-gray: #DEDEDE;
    --font-gray: #6B6B6B;
    --dark-gray: #2A2D32;
    --light-orange: #F8E5D6;
    --orange: #FDA868;
    /* */

    --btn-hover-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.125);
    --btn-hover-gradient: linear-gradient(to bottom, rgba(61,61,61,0.05) 0%, rgba(117,117,117,0.05) 20%, rgba(148,148,148,0.05) 50%, rgba(82,82,82,0.05) 80%, rgba(0,0,0,0.05) 100%);
    --btn-selected-box-shadow: inset 0 5px 7px rgba(0, 0, 0, 0.2);
    --btn-active-box-shadow: inset 0 6px 8px rgba(0, 0, 0, 0.25);
}

body {
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

#wrapper {
    background: var(--nav-gray); /* Side nav background */
    color: var(--font-gray);
}

#page-wrapper {
    border-left: 1px solid var(--nav-border-gray);
    background: white;
}

.footer {
    font-family: "Times New Roman", Times, serif;
    border-top: 1px solid var(--nav-border-gray) !important;
}

body.fixed-nav #wrapper .navbar-static-side, body.fixed-nav #wrapper #page-wrapper {
    margin-top: 65px;
}


.nav > li.active {
    margin-top: 5px;
    border-left: 0;
    background: white;
}

    .nav > li.active > a {
        color: #fca869;
    }

        .navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {
            background-color: transparent;
            color: #fca869;
        }

            .nav > li > a {
                padding: 10px 20px;
            }

                .nav > li > a > img {
                    margin-right: 10px;
                    width: 25px;
                }

                .nav > li > a > span {
                    vertical-align: middle;
                }


    ul.nav-second-level {
        background: white;
    }

        .nav-second-level li a {
            padding: 10px;
            padding-left: 35px;
        }

.mini-navbar .nav .nav-second-level {
    border: 1px solid #eee;
    background: white;
    box-shadow: grey 0.5px 0.5px 0.5px 0.5px;
}

.option {
    margin-bottom: 20px;
    display: inline-block;
}

    .option .optionHeader {
        margin: 20px 0;
    }

    .option .optionBody .showLevel {
        width: 180px;
    }

    .option .optionBody row {
        margin: 0;
    }

    .option .optionBody .h4 {
        font-size: 14px;
    }

    .option .optionBody .date {
        margin-top: 33px;
    }
    .option .optionBody .leftLevel {
        margin-right: 35px;
    }

    .option .optionBody .date #date-range {
        height: 40px;
        width: 210px;
        color: #e1ab82;
        background: black;
        border: 0;
        border-radius: 3px;
        padding: 10px;
    }

.dataTable button {
    color: #e1ab82;
    background: black;
    border: 0;
    margin-bottom: 20px;
    padding: 10px 20px !important;
}

.filterButton button {
    color: #e1ab82;
    background: black;
    border: 0;
    margin: 10px;
    padding: 10px 20px !important;
    width: 150px;
}

.dataTable table button {
    margin: 0 10px;
    border: 1px solid black;
}

.dataTable .table {
    margin-bottom: 0;
    border: 1px solid #dedede;
    cursor: default;
}

.dataTable .table th {
    color: #e1ab82;
    background: black;
}

.dataTable .table th i {
    margin: 10px;
}

    .dataTable .table th .order .caret {
        color: #e1ab82 !important;
    }
    
    .dataTable .table > thead > tr > th, .dataTable .table > tbody > tr > th, .dataTable .table > tfoot > tr > th, .dataTable .table > thead > tr > td, .dataTable .table > tbody > tr > td, .dataTable .table > tfoot > tr > td {
        height: 50px;
        vertical-align: middle;
    }

.dataTable tr:nth-child(even) {
    background: #fbfbfb;
}

.dataTable .dropdown-menu {
    top: -112px;
}

.paginationOption {
    display: inline-block;
    margin-top:-40px;
    height: 30px;
}

.page-label {
    margin: 5px
}

.pagination > li > a, .pagination > li > span {
    border: 0;
    margin: 0 3px;
    padding: 4px;
    color: black;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background: black;
    color: #e1ab82;
}

