@font-face {
    font-family: 'HomepageBaukasten-Bold';
    src: url('../fonts/HomepageBaukasten-Bold/HomepageBaukasten-Bold.eot');
    src: url('../fonts/HomepageBaukasten-Bold/HomepageBaukasten-Bold.woff2') format('woff2'), url('../fonts/HomepageBaukasten-Bold/HomepageBaukasten-Bold.woff') format('woff'), url('../fonts/HomepageBaukasten-Bold/HomepageBaukasten-Bold.ttf') format('truetype'), url('../fonts/HomepageBaukasten-Bold/HomepageBaukasten-Bold.svg#HomepageBaukasten-Bold') format('svg'), url('../fonts/HomepageBaukasten-Bold/HomepageBaukasten-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NTR-Regular';
    src: url('../fonts/NTR/NTR-Regular.eot');
    src: url('../fonts/NTR/NTR-Regular.woff2') format('woff2'), url('../fonts/NTR/NTR-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NTR';
    src: url('../fonts/NTR/NTR.woff') format('woff'), url('../fonts/NTR/NTR.ttf') format('truetype'), url('../fonts/NTR/NTR.svg#NTR') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
    /* Inspinia Colors */
    --primary-light: #1fd5b0;
    --primary: #1ab394;
    --primary-shade: #159178;
    --gray: #f3f3f4;
    /*--dark-gray: #676a6c;*/
    /* */

    /* Mockup Colors */
    --nav-gray: #F5F5F5;
    --nav-border-gray: #DEDEDE;
    --font-gray: #6B6B6B;
    --dark-gray: #2A2D32;
    --light-orange: #F8E5D6;
    --orange: #FDA868;
    /* */

    --btn-hover-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.125);
    --btn-hover-gradient: linear-gradient(to bottom, rgba(61,61,61,0.05) 0%, rgba(117,117,117,0.05) 20%, rgba(148,148,148,0.05) 50%, rgba(82,82,82,0.05) 80%, rgba(0,0,0,0.05) 100%);
    --btn-selected-box-shadow: inset 0 5px 7px rgba(0, 0, 0, 0.2);
    --btn-active-box-shadow: inset 0 6px 8px rgba(0, 0, 0, 0.25);
}

body {
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

#wrapper {
    background: var(--nav-gray); /* Side nav background */
    color: var(--font-gray);
}

#page-wrapper {
    border-left: 1px solid var(--nav-border-gray);
    background: white;
}

.footer {
    font-family: "Times New Roman", Times, serif;
    border-top: 1px solid var(--nav-border-gray) !important;
}

/* Side nav */
.nav .nav-header-custom {
    height: 61px; /* Fit behind TopHeader */
}

.nav > li > a {
    color: var(--font-gray) !important;
    padding-left: 19px; /* Center img-icon when collapsed */
}

    .nav > li > a > img {
        margin-right: 10px;
    }

    .nav > li > a.active,
    .nav > li > a:hover {
        background: var(--dark-gray) !important;
        color: var(--nav-gray) !important;
    }
/* */

/* Animated 3d buttons */
.btn-3d {
    display: inline-block;
    position: relative;
    z-index: 10;
    border-radius: 8px;
    padding: 0;
    margin: -4px 2px 0px 2px;
    border: none;
    background: none !important;
    outline: none !important;
    box-shadow: 0 8px 0 var(--primary-shade), 0 15px 20px rgba(0, 0, 0, .35);
    transition: box-shadow .1s ease-in-out;
    font-size: 18px;
}

    .btn-3d.selected {
        box-shadow: 0 8px 0 var(--primary-shade), 0 12px 10px rgba(0, 0, 0, .3);
    }

        .btn-3d.selected > span {
            transform: translate(0, 4px);
        }

        .btn-3d.selected:active {
            box-shadow: 0 8px 0 var(--primary-shade), 0 10px 8px rgba(0, 0, 0, .3);
        }

            .btn-3d.selected:active > span {
                transform: translate(0, 6px);
            }

    .btn-3d:active {
        box-shadow: 0 8px 0 var(--primary-shade), 0 10px 8px rgba(0, 0, 0, .3);
    }

        .btn-3d:active > span {
            transform: translate(0, 6px);
        }

    .btn-3d > span {
        display: inline-block;
        position: relative;
        z-index: 11;
        border-radius: 8px;
        padding: 8px 8px;
        background-color: var(--primary-shade);
        background-image: linear-gradient(to bottom, hsla(167.8, 74.6%, 47.8%, .8), hsla(167.9, 74.4%, 55.5%, .2));
        box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .2);
        line-height: 1;
        text-shadow: 0 -1px 1px rgba(21, 145, 120, .7);
        transition: background-color .2s ease-in-out, transform .1s ease-in-out;
    }

    .btn-3d:hover > span {
        /* Glow */
        background-color: var(--primary);
        text-shadow: 0 -1px 1px rgba(21, 145, 120, .9), 0 0 5px rgba(255, 255, 255, .8);
    }

    .btn-3d:not(.selected) {
        z-index: 11;
    }

        .btn-3d:not(.selected) > span {
            z-index: 15;
        }

            /* The text of the button */
            .btn-3d:not(.selected) > span > span {
                opacity: 0.5;
            }
/* */

@media (min-width: 768px) {
    /* Support button groups */
    .btn-group .btn-3d + .btn-3d {
        margin-left: -2px;
    }

    .btn-group > .btn-3d:not(:first-child):not(:last-child),
    .btn-group > .btn-3d:not(:first-child):not(:last-child) > span {
        border-radius: 0;
    }

    .btn-group > .btn-3d:first-child {
        margin-left: 0;
    }

        .btn-group > .btn-3d:first-child:not(:last-child),
        .btn-group > .btn-3d:first-child:not(:last-child) > span {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

    .btn-group > .btn-3d:last-child:not(:first-child),
    .btn-group > .btn-3d:last-child:not(:first-child) > span {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    /* */
}
